[Unit]
Description=nyancat
Documentation=man:nyancat(1)

[Service]
User=nobody
ExecStart=-/usr/bin/nyancat -t
StandardInput=socket
StandardOutput=socket

[Install]
WantedBy=multi-user.target
